/* General body and layout styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.homepage {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

button {
  padding: 8px 16px;
  background: linear-gradient(90deg, #00796b, #004d40); /* Dark greenish-teal gradient for buttons */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background 0.3s ease;
}


button:hover {
  background: linear-gradient(90deg, #004d40, #00251a);
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-bottom: 20px;
  font-size: 22px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
